.container {
    
width:600px;
margin-left: auto;
margin-right: auto;
font-family: 'Open Sans', sans-serif;


}
.newsletter{
    color:grey;
    border:solid thin #cfcfcf;
    padding:10px;
    border-radius:3px;
    padding-bottom: 20px;
    position:relative;

}
.newsletter button{
    color: grey;
    background-color:#3cb878;
    color:white;
    border:none;
    display:block;
    width:100%;
    height:30px;
    margin-bottom: 10px;
}
.newsletter input#email{
    display:block;
    width:100%;
    height:30px;
    border:thin solid 1px #cfcfcf;
    border-radius:3px;
    margin-bottom:4px;
    box-sizing:border-box;

}
.newsletter h3{
    margin-top:0;
    
}

.newsletter #closex {
    position: absolute;
    top: 0;
    right: 4px;

}
.newsletter #terms{
    position: relative;
    top: 1px;

}

#questionmark{
background-color:#3cb878;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
    color: white;
    font-size: 70px;
    text-align: center;
    position:fixed;
    bottom: 10px;
    right: 10px;
}


.card{
     background-color: #3cb878;
     width: 180px;
     text-algin: center;
     color: white;
     padding: 20px 0;
     box-shadow: 0px 0px 7px 2px grey;
    
}

.card h3{
    margin-bottom: 0;


}
